# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual Environment
venv/

# Build/Compiled
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local Development
.env
.env.local

# PyQt
*.ui~